:root {
    --cg--0_3: #f9fbfc;   /* -0.3단계 */
    --cg-0:    #f3f7fa;   /* 기준색 */
    --cg-0_7:  #e6eef4;   /* 0.7단계 */
    --cg-1:    #dee8f1;   /* 1.0단계 */
    --cg-1_8:  #cfdae9;   /* 1.8단계 */
    --cg-1_85: #cddae9;   /* 1.85단계 */
    --cg-1_9:  #ccdbe9;   /* 1.9단계 */
    --cg-2:    #c9d9e8;   /* 2.0단계 */
  }